@{
    ViewBag.Title = "Czech Learing Tool";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>View dictionary</h5>
        You can view and edit English to Czech translations @Html.ActionLink("here", "Index", "Word")<br />
    </li>

    <li class="two">
        <h5>Test your knowledge</h5>
        You can be quizzed on words @Html.ActionLink("here", "Index", "Quiz")<br />
    </li>

    <li class="three">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>
</ol>
