<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="recaptchaPrivateKey" value="6LdqKeYSAAAAAB0E71saedNE1YD0P92mPn8K33px" xdt:Transform="Insert"/>
    <add key="recaptchaPublicKey" value="6LdqKeYSAAAAAGAQjJNFe0zCi3UNriTM9Dnyef17" xdt:Transform="Insert"/>
  </appSettings>
</configuration>

