@model CzechLearning.Models.WordQuiz

@{
    ViewBag.Title = "Index";
}

<h2>Word quiz</h2>
    
   @Html.EditorFor(model => model)

<p>
    @Html.ActionLink("Test", "CheckWord", Model)
    @Html.ActionLink("Help", "Help")
    @Html.ActionLink("Next >>", "Index")
</p>
